---
layout: default
class: homepage
---

<section class="latest-posts">
  <h1>Latest Posts</h1>
  <ul>
    {% for post in site.posts %}
      <li>
        <span>{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <p> {{post.subtitle}}</p>
      </li>
    {% endfor %}
  </ul>
</section>

{% for my_page in site.pages %}
  {% if my_page.title == "About" %}
<section class="about">
  <div class="wrapper">
    <div class="left">
      <h1>About</h1>
      {{ my_page.content | markdownify}}
    </div>
    <div class="right">
      <span class="big-dot">
    </div>
  </div>
</section>
  {% endif %}
{% endfor %}