<section class="head">
  <header>

      <nav>
        <a class="logo" href="{{ site.baseurl }}/"><img alt="Just Retirement Logo" src="/images/JUST_logo_Ver3_RGB_White_on_Coral.svg"></a>
        {% for my_page in site.pages %}
          {% if my_page.title != 'About' %}
        <a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </nav>
      {% if page.layout == 'default' %} 
        <h1>The Future is&nbsp;here.</h1>
      {% elsif page.layout == 'post' %}
        <div class="post-info">
          <p class="date">{{ page.date | date: "%b %-d, %Y" }}</p>
          <h1>{{page.title}}</h1>
          <p>{{page.subtitle}}</p>
        </div>
      {% endif %}
  </header>
</section>